<h1>Eat the Burger</h1>

<h2>Make a Burger</h2>


<div class="form-group">
    <label for="ca">Burgers:</label>
    <input type="text" id="bur" name="name">

    <button type="submit" id="addBurger">Add burger</button>
</div>
<h2>Burgers Added</h2>
<ul>
    {{#each burgers}}
     {{#unless devoured}}
        {{this.burger_name}}
            <button type="submit" id="eatBurger">eat burger</button>
        {{/unless}}
    {{/each}}
</ul>
<h2>Burgers Devoured</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
        {{/if}}
    {{/each}}
</ul>


<script>
    $(function () {
        event.preventDefault();
        $("#addBurger").on("click", function (event) {
            var newBurger = {
                name: $("#bur").val().trim(),
                devoured: false
            };
            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            })
                .then(
                    function () {
                        console.log("Created new burger")
                        location.reload();
                    }
                )
        });

        $("#eatBurger").on("click", function (event) {
            var id = $(this).data("id")
            var eatBurger = $(this).data("burger_name");
            var devouredTrue = {
                devoured = true
            };
            $.ajax("/api/burgers" + id, {
                type: "PUT",
                data: devouredTrue
            }).then(
                function(){
                    console.log("You have eaten the burger");
                    location.reload();
                }
            )
        })
    })
</script>